body {
  margin: 0;
  padding: 0;
}
/* Estils mòbil */
@media only screen and (max-width: 768px) {

#logo-xarxes {
  display: flex;
  flex-flow: column;
}

#logo {
  order: 2;
}

#idiomes-xarxes-correu {
  order: 1;
  width: 100%;
}
#idiomes-cap {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.75em;
}
#correu-cap {
  width: 49%;
  display: inline-block;
box-sizing: border-box;
text-align: right;
padding: 0.75em;
}
#xarxes-cap {
  display: none;
}
.bloc

}

/* Estils escriptori */

@media only screen and (min-width: 769px) {
#logo-xarxes {
  display: inline-block;
}
}
