/*
Theme Name: KEA
Theme URI: https://github.com/enricpineda/temawp-kea
Author: Enric Pineda
Author URI: https://enricpineda.cat/
Description: El tema principal de la nova web de KEA
Version: 0.1
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kea

*/




@font-face {font-family: 'akkurat';
      src: url('fonts/Akkurat_eo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'akkurat';
  src: url('fonts/AkkurBol_eo.woff2') format ('woff2');
  font-weight: bold;
  font-style: normal;
}
body {margin: 0;padding: 0;font-family: 'Open sans', sans-serif;}

p { font-size: 16px;line-height: 1.5em;}

a {
  color: rgb(0,139,25);
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: rgb(43,44,40);
}

a:hover {
  color: rgb(0,225,43);
  text-decoration: underline;
}

.lang-item {
  list-style-type: none;
}

#capapeu {
  box-sizing: border-box;
  background-color: #666666;
  padding: 0.75em 0;
}

#capapeu a {color: #fff;}
#capapeu a:hover {text-decoration: underline;}
.portada-publicacio {padding-right: 1em;}

#principal {padding: 0.75em;}

.titular-primer {font-size: 2em; margin: 0; padding: 0.5em 0 0 0;}
.miniicona {width: 20px; height: auto; vertical-align: middle;}
.link-butiko {background-color:#00871d; color: #FFF; text-decoration: none; padding: 1em; border-radius: 10px; margin: 1em auto 0 auto;}
.link-butiko:hover {color: #FFF;}

/* Estils mòbil */
@media only screen and (max-width: 768px) {
  h1,h2,h3,h4,h5,h6 {margin: 1em 0.5em;}
  p {margin: 1em 0.5em;}
#capapeu {width: 100vw;}
#footer {width: 100vw; box-sizing: border-box; padding: 0.75em; color: #FFF;}
#footer div {width: 100%;}
.donemsuport-llistat {margin: 0; padding: 0.75em; display:flex; flex-direction: row; flex-wrap: wrap;}
.donemsuport-llistat li {list-style-type: none; flex-grow: 1;}


#logo-xarxes {display: flex;flex-flow: column;}

#logo {order: 2; box-sizing: border-box;padding: 0.75em;}

#logo img {width: 100%;height: auto;}

#idiomes-xarxes-correu {
  order: 1;
  width: 100vw;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
#idiomes-xarxes-correu a {
  color: #fff;
}
#idiomes-cap {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.75em;
}
#correu-cap {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  padding: 0.75em;
}
#xarxes-cap {
  display: none;
}
#iconaburguer {
  width: 19%;
  display: inline-block;
}
#cercador {
  width: 79%;
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  height: 36px;
  padding: 5px 0;
}
#cercador input[type=text] {
  width: 80%;
  border: 0;
}
#cercador img {
  height: 23px;
  width: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.sercxilo-telefono {
  display: inline-block;
  height: 23px;
  width: auto;
  vertical-align: middle;
  margin-left: 10px;
}
.sercxilo-granda {
  display: none;
}

#menupral {
  display: none;
  width: 100%;
}

#menupral ul {
  margin: 0;
  padding: 0.75em;
  box-sizing: border-box;
}

/*#menupral ul ul {display:none;}*/
.sub-menu {display: none; background-color: #FFF;}
.submenu li {list-style-type: none; margin: 0; padding: 0.75em 0; border-bottom: 1px dashed rgb(43,44,40); width: 100%;}

#menupral ul li {
  list-style-type: none;
  margin: 0;
  padding: 0.75em 0;
  border-bottom: 1px dashed rgb(43,44,40);
  width: 100%;
}

#menupral ul li a {
  color: rgb(43,44,40);
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0.75em;
  background-color: rgb(0,225,43);
  box-sizing: border-box;
}

.submenuo {display: none;}
#twitter {display: none;}
#menulateral {padding: 0; margin: 0 0.75em 0 0;}
#menulateral ul {margin: 0; padding: 0;}
#menulateral ul li {list-style-type: none; font-family: 'akkurat'; font-size: 1.2em; margin: 0; padding: 0.75em 0; border-bottom: 2px dashed #999; font-weight: bold;}

#carousel {display: none;}

.titol_post {width: 100%; height: 10em; background-repeat: no-repeat; background-position: center center; background-size: cover; margin: 0; background-attachment: fixed;     background-blend-mode: multiply; background-color:#00e12b; }
.titol_post_alt {width: 100%; height: 10em;}

.titol-post-text {width: 90%; margin: 0px auto; padding: 3em 0; color: #fff; text-align: center;}
.post-text-principal {width: 100%; box-sizing: border-box; padding:1em 0;}
.post-columna-dreta {display: flex; flex-direction: column;}

}

/* Estils escriptori */

@media only screen and (min-width: 769px) {

header {width: 1200px; margin: 1em auto 0px auto;}
#principal {width: 1200px; margin: 0px auto; display: flex; flex-direction: row; justify-content: space-between;}
#principal-ke {width: 1200px; margin: 0px auto;}
#footer {width: 1200px; margin: 20px auto; display: flex; flex-direction: row; color: #fff;}
#footer div {flex-grow: 1;}
#capapeu {width: 100%;}
.donemsuport-llistat {display: flex; margin: 0; padding: 0.75em;}
.donemsuport-llistat li {list-style-type: none; display: inline-block; flex-grow: 1;}

#menulateral { padding: 0; margin: 0 0 1.5em 0;}
#menulateral ul {margin: 0; padding: 0;}
#menulateral ul li {list-style-type: none; font-family: 'akkurat'; font-size: 1.2em; margin: 0; padding: 0.75em 0; border-bottom: 2px dashed #999; font-weight: bold;}
#twitter {width: 200px;}
#central {order: 1; width: 70%; display: flex; flex-flow: column; padding: 0;}
#agenda {order: 2; width: 30%; padding: 0 0 0 2em;}
.noticia-gran {display: flex; flex-direction: row;}
.imatge-noticia {order: 1; flex-grow: 1;}
.text-noticia {order:2; flex-grow: 3; box-sizing: border-box; margin: 0; padding: 0 0 0 1em;}
.container-secundaries {display: flex; flex-direction: row; margin: 1em 0;}
.noticiasecundaria {flex-grow: 1; margin: 0 1.5em 0 0; padding: 0.5em; border: 2px dashed #CCC;}
.noticiasecundaria h4 {margin: 0;}
.noticiasecundaria a {color: #000; font-size: 1.2em;}

.container-xxss{display: flex; flex-direction: row; margin: 1em 0;}
.xxss {flex-grow: 1; margin: 0 1.5em 0 0;}


#logo-xarxes {display: flex;flex-flow: row;}
#logo {order: 1; box-sizing: border-box;padding: 0.75em; width: auto; flex-grow: 1;}
#logo img {width: 400px;height: auto;}
#idiomes-xarxes-correu {order: 2;flex-grow: 1;
    box-sizing: border-box;
display: flex;
flex-flow: row-reverse;
flex-wrap: wrap;
  }
  #idiomes-cap {
    order: 2;
    width: 35%;
    box-sizing: border-box;
    padding: 0.75em;
    text-align: right;
  }
  #correu-cap {
    order: 1;

    box-sizing: border-box;
    text-align: right;
    padding: 0.75em;
  }
  #xarxes-cap {
    order: 3;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    padding: 0.75em;
    display: flex;
    flex-direction: row-reverse;
  }
#xarxes-cap > div {
  margin: 0 0.25em;
}
#xarxes-cap img {
  height: 32px;
  width: auto;
}

  #iconaburguer {
    display: none;
  }
  #cercador {
    order: 2;
    flex-grow: 1;
    display: inline-block;
    text-align: right;
    padding: 1.25em 0.75em 1.25em 0;
  }
  #cercador img {
    height: 23px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
  }

  .sercxilo-granda {
    height: 23px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
  }
  .sercxilo-telefono {
    display: none;
  }

  #menupral {
order: 1;
flex-grow: 5;
#background-color: #fff;
  }
  #menupral ul {
    margin: 0;
    padding: 0.50em;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
  }
#menupral ul ul {
  position: absolute; top: 100%; display: none; background-color: #00e12b; z-index: 123456; width: 100%;
}
#menupral ul ul ul {position: absolute; top: -8px; left: 105%; display: none; background-color: #36ff5c; z-index: 123987; width: 100%;}
  #menupral ul li{
    list-style-type: none;
    margin: 0;
    flex-grow: 1;
    font-family: 'akkurat';
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }

#menupral ul li a {
    padding: 0.75em;
      text-decoration: none;
    display: block;
    color: rgb(43,44,40);
  }


  nav {
    width: 1200px;
    margin: 0px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-image: url('img/provaigual-2.png'), url('img/provaigual-2.png');
    background-position: top left, bottom left;
    background-repeat: repeat-x, repeat-x;
  }

#menupral ul li:hover {color: rgb(43,44,40);}
#menupral ul li:hover > a {color: rgb(43,44,40);}
#menupral ul li:hover > ul.sub-menu {display: block; width: auto;}
#menupral ul ul:hover {display: block;}
#menupral ul ul:hover ~ a {color: rgb(43,44,40);}
#menupral ul ul ul:hover ~ a {color: rgb(43,44,40);;}

#carousel {width: 1200px; margin: 0px auto;}
#carousel img  {width: 100%; height: auto;}

.titol_post {width: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; margin: 1em 0 0.3em 0; background-attachment: fixed;     background-blend-mode: multiply; background-color:#00871d;}
.titol-post-text {width: 1200px; margin: 0px auto; padding: 5em 0; color: #fff; text-align: center; font-weight: bold;}
.post-text-principal {width: 75%; box-sizing: border-box; padding: 0 1em 0 0;}
.post-columna-dreta {width: 23%; display: flex; flex-direction: column;}
.imatge-responsive {width: 100%; height: auto; margin: 1em 0;}
#central h2, #agenda h2 {width: 100%; font-family: 'akkurat'; font-size: 1.2em; margin: 0 0 1em 0; padding: 0.75em 0; border-bottom: 2px dashed #999; font-weight: bold;}
.logo-blanc-peu {width: 250px; height: auto; margin: 1em;}
.filaKE {display: flex; flex-direction: row;flex-wrap: wrap;}
.itemKE {width: 230px;}
}
