body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
}
/* Estils mòbil */
@media only screen and (max-width: 768px) {

#logo-xarxes {
  display: flex;
  flex-flow: column;
}

#logo {
  order: 2;
  box-sizing: border-box;
  padding: 0.75em;
}

#logo img {
  width: 100%;
  height: auto;
}

#idiomes-xarxes-correu {
  order: 1;
  width: 100vw;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
#idiomes-cap {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.75em;
}
#correu-cap {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  padding: 0.75em;
}
#xarxes-cap {
  display: none;
}
#iconaburguer {
  width: 49%;
  display: inline-block;
}
#cercador {
  width: 49%;
  display: inline-block;
  text-align: right;
}

#menupral {
  display: none;
}

nav {
  display: inline-block;
  width: 100vw;
  padding: 0.75em;
  background-color: rgb(0,225,43);
  box-sizing: border-box;
}


/* Estils escriptori */

@media only screen and (min-width: 769px) {
#logo-xarxes {
  display: inline-block;
}
}
